<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Checkout</title>
</head>
<body>
<div layout:fragment="content" id="payment-page">
    <!-- Hidden divs with data passed from the Express server -->
    <div id="clientKey" class="hidden" th:text="${clientKey}"></div>
    <div id="type" class="hidden" th:text="${type}"></div>

    <div class="container">
        <!-- The Checkout integration type will be rendered below.-->
        <!-- Drop-in includes styling out-of-the-box, so no additional styling is needed. -->
        <div class="payment-container">
            <div id="payment" class="payment"></div>
            <button id="subscription-payment-button" class="btn btn-primary mt-3">
                Charge saved subscription
            </button>
            <button id="subscription-cancel-button" class="btn btn-danger mt-3">
                Cancel subscription
            </button>
        </div>
    </div>
    <script src="https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/6.33.0/adyen.js"
            integrity="sha384-uMgOOe++KK9JoyxeIxzR7IyT6Ef8pOCVNKC499aRlxfYR1ofL0Ytv3w1WU547KXP"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/6.33.0/adyen.css"
          integrity="sha384-Kxk+HDAUmRogabIUxszUgK7HjuEtcwCqxw8ecoDrF8WxjrfcVlVaRSImp//bEp8W"
          crossorigin="anonymous">
    <!-- Adyen Component client code -->
    <script type="text/javascript" src="/adyenWebImplementation.js"></script>
</div>
</body>
