<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Workshop: Build Your Own Adyen Payment Integration</title>
</head>
<body>
<div layout:fragment="content">
    <div class='main-container'>
        <div class="info">
            <h1>Workshop: Build Your Own Adyen Payment Integration</h1>
            <p>In this workshop, we'll go over a step-by-step guide to building your own payment integration with Adyen. We'll guide you through the steps needed to integrate with Adyen and make your first payment on TEST. This includes the credentials, configuration, API requests (using the Java Adyen library, `/paymentMethods`, `/payments`, `/payments/details` endpoints and Authentication 3DS2), error handling and webhooks.</p>
            <p>Follow the steps in the <a href="https://github.com/adyen-examples/adyen-step-by-step-integration-workshop">README</a>.</p>
        </div>
        <ul class="integration-list">
            <li class="integration-list-item">
                <a href="/preview?type=dropin" class="integration-list-item-link">
                    <div class="title-container">
                        <p class="integration-list-item-title">Start shopping</p>
                        <p>One-time payment flow</p>
                    </div>
                </a>
            </li>

            <li class="integration-list-item">
                <a href="/subscription" class="integration-list-item-link">
                    <div class="title-container">
                        <p class="integration-list-item-title">Start subscription</p>
                        <p>Tokenization flow</p>
                    </div>
                </a>
            </li>

            <li class="integration-list-item">
                <a href="/preauth" class="integration-list-item-link">
                    <div class="title-container">
                        <p class="integration-list-item-title">Pre-authorize payment</p>
                        <p>Coming next</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
